body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: lightblue;
    text-align: center;
  }
  
  h1 {
    color: black;
  }
  
  p {
    font-family: verdana;
    font-size: 13px;
  }

  button{
      font-size: 20px;
  }

  .note{
      font-size: 5px;
      color: gray;
  }
