# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

# top-most EditorConfig file
root = true

# Windows-style newlines with a newline ending every file
[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = clf
insert_final_newline = true

# Tab indentation (no size specified)
[Makefile]
indent_style = space

[*.{c,h,cpp,hpp}]
indent_size = 4
